<html ng-app="customerView">
<head>
  <script src="/assets/angular.js"></script>
  <script src="/assets/angular-route.js"></script>
  <script src="/assets/customerCtlr.js"></script>
  <link rel="stylesheet" href="/assets/custom.css">
  <link data-require="bootstrap-css@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
</head>

  <body ng-controller="customerCtlr">
    <div id="show-area2">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                    <h1>{{customer[0].name}}</h1>
                    <ul class="nav nav-tabs">

                        <li ng-repeat="i in instances" ng-class="isSelectedTab(i.id,0)" ng-click="setTab(i.id)"><a href="#" data-toggle="tab">{{i.name}}</a></li>

                        <li id="add-instance"><a href="#tab1primary" data-toggle="tab">&nbsp<span class="glyphicon glyphicon-plus"></span></a></li>

                    </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">

                    <div ng-repeat="i in instances" ng-class="isSelectedTab(i.id,1)" id="tab$indexprimary">
                      <table id="lefter" class="table table-hover">
                        <tr ng-repeat="field in field_names.slice(0,5) track by $index">
                          <td>{{field_text[$index]}}</td>
                          <td class="edit-row"><div click-to-edit type="inputText" info="field" ng-model="i[field]"></div>
                          </td>
                        </tr>

                      </table>

                      <table id="lefter" class="table table-hover">
                        <tr ng-repeat="field in field_names.slice(5,9) track by $index">
                          <td>{{field_text[$index+5]}}</td>
                          <td class="edit-row"><div click-to-edit type="inputText" info="field" ng-model="i[field]"></div>
                          </td>
                        </tr>
                      </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="bottom-panel">
      <div class="comment" ng-repeat="comment in instanceData.comments">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>{{comment.name}}</strong> <span class="text-muted">{{comment.date}}</span>
          </div>
          <div class="panel-body">
            {{comment.comment}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
