<html ng-app="customerView">
<head>
  <script src="/assets/angular.js"></script>
  <script src="/assets/angular-route.js"></script>
  <script src="/assets/customerCtlr.js"></script>
  <link rel="stylesheet" href="/assets/custom.css">
  <link data-require="bootstrap-css@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
</head>

  <body ng-controller="customerCtlr">
    <div id="show-area2">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                    <ul ng-init="tabSelected = 0;" class="nav nav-tabs">

                        <li ng-repeat="i in instances" ng-class="isSelectedTab($index,0)" ng-click="setTab($index)"><a href="#" data-toggle="tab">{{i.name}}</a></li>

                        <li id="add-instance"><a href="#tab1primary" data-toggle="tab">&nbsp<span class="glyphicon glyphicon-plus"></span></a></li>

                    </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">

                    <div ng-repeat="i in instances" ng-class="isSelectedTab($index,1)" id="tab$indexprimary">
                      <table id="lefter" class="table table-hover">
                        <tr>
                          <td>BPM Application</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.bpm_application"></div></td>
                        </tr>
                        <tr>
                          <td>Database Type</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.db_type"></div></td>
                        </tr>
                        <tr>
                          <td>JDK Version</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.jdk_version"></div></td>
                        </tr>
                        <tr>
                          <td>Process Center</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.process_center"></div></td>
                        </tr>
                        <tr>
                          <td>WAS Version</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.was_version"></div></td>
                        </tr>
                      </table>

                      <table id="lefter" class="table table-hover">
                        <tr>
                          <td>BPM Version</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.bpm_version"></div></td>
                        </tr>
                        <tr>
                          <td>Database Version</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.db_version"></div></td>
                        </tr>
                        <tr>
                          <td>OS</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.os"></div></td>
                        </tr>
                        <tr>
                          <td>Process Server</td>
                          <td class="edit-row"><div click-to-edit type="inputText" ng-model="i.process_server"></div></td>
                        </tr>
                      </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </body>
</html>
