<html ng-app="home">
<head>
  <script src="/assets/angular.js"></script>
  <script src="/assets/homeCtlr.js"></script>
  <link rel="stylesheet" href="/assets/custom.css">
  <link data-require="bootstrap-css@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />

</head>

  <body ng-controller="homeCtlr">
    <video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; width: 1903px; height: auto;">
      <source src="/assets/video.mp4" type="video/mp4">
    </video>


    <div id="show-area">
      <div >
        <h1 class="display-1">L2 Comments</h1>
      </div>
      <div class="panel-body">
      <div id="search-area">
        <input type="text" ng-model="searchString" placeholder="Enter company name" />
      </div>
      <div ng-show="(customers | searchFor:searchString).length == 0 && searchString.length > 1">
        <a ng-click="create_customer(searchString)" id="add-button" class="btn btn-info btn-lg" style="border-color: #565353;">
          <span class="glyphicon glyphicon-plus-sign"></span> Add Company
        </a>
        <p style="color:white"> No search results found for "{{searchString}}". Press Enter to add this company </p>
      </div>
            <button type="button" class="btn btn-primary btn-lg btn-block theme-color" style="opacity: 0.75" ng-repeat="i in customers | searchFor:searchString" ng-click="redirect(i.id)">{{i.name}}</button>
    </div>
    </div>
  </body>
</html>
