<html ng-app="home">
<head>
  <script src="/assets/angular.js"></script>
  <script src="/assets/homeCtlr.js"></script>
  <link rel="stylesheet" href="/assets/custom.css">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">

</head>

  <body ng-controller="homeCtlr">
    <div id="show-area" class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="display-1">L2 Comments</h1>
      </div>
      <div class="panel-body">
      <div id="search-area">
        <input type="text" ng-model="searchString" placeholder="Enter company name" />
      </div>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-repeat="i in customers | searchFor:searchString" ng-click="get_instances(i.id)">{{i.name}}</button>
    </div>
    </div>
  </body>
</html>
